@use "base";

h1,
h2,
p{
  margin: 0em;
}

.page-title{
  font-family: base.$title-font;
}

.form-text-input, 
.form-submit-button, 
.save-word-button,
.rhyme-entry-score,
.results-title,
.removeEntryButton, 
.saved-word-text,
.saved-words-title,
.loader{
    font-family: base.$main-font;
}

body {
  background-color: white;
  display: grid;
  grid-template-rows: 0.5fr 3fr 7fr 1.5fr;
  grid-template-columns: 12fr;
  height: 100svh;
  width: 100svw;
  margin: 0em;
}

#loading-text-container {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: fit-content;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color:black;
  padding:1em;
  border-radius: 1em;
}

.rhyme-search-form {
  grid-row: 4;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid grey;
  border-width: 0.1em 0em 0.1em 0em;
  background-color: rgb(241, 241, 241);
}

fieldset {
  border: 0em;
}

.form-text-input{
  border-radius: 1em;
  padding: 0.5em;
  font-size: 1em;
  width:70vw;
  background-color:white;
  color:   rgb(104, 154, 135);
  font-weight: 800;
}

.form-submit-button{
  border: none;
  width: 20%;
  height: 2.5em;
  font-size: 4vw;
  background-color: black;
  color: white;
  border-radius: 1em;
  width:75vw;
  font-weight: 800;
}


.rhyme-content-container {
  background-color:  rgb(255, 255, 255);
  grid-row: 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 95vw;
  overflow: scroll;
  border-radius: 1em;
  border:solid;
  margin: 2em 0em 1em 0em;
}



.results-title {
  padding-left: 1em;
  align-self: center;
  margin-bottom: 1em;
  color: white;
}

.section-title-container{
  background-color: black;
}

.rhyme-results-container {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-list {
  display: flex;
  margin: 0px;
  padding-top: 2em;
  justify-content: center;
  align-items: center;

}

ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0em;
}

.rhyme-results-entry {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 4fr 5fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  align-items: center;
  padding: 1em;
  width: 88vw;
  background-color: white;
  margin-bottom: 1em;
}

.rhyme-entry-title {
  grid-column: 1;
  grid-row: 1;
  font-size: 5vw;
  font-weight: 800;
  color: black;
  font-family: base.$main-font;
}

.rhyme-entry-score {
  grid-column: 2;
  grid-row: 1;
  font-style: oblique;
}

.rhyme-list-break{
  grid-row: 2;
  grid-column: 1/4;
  color: black;

}

.save-word-button {
  grid-column: 3;
  grid-row: 1;
  border: none;
  width: 12vw;
  height: 12vw;
  font-size: 5vw;
  font-weight: 900;
  background-color: black;
  color: white;
  border-radius: 0.5em;
}

.saved-words-container {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  border: solid gray;
  border-width: 0.1em;
  border-radius: 1em;
  margin-top: 2em;
  justify-self: center;
  background-color:white;
  width: 95vw;
  overflow: hidden;
}

.saved-words-title{
  padding-left: 1em;
  align-self: center;
  text-align: left;
  margin-bottom: 1em;
  color: white;
}

.selected-words-list {
  display: flex;
  flex-direction: row;
  width: 95vw;
  overflow: scroll;
  margin:0em;
}

.saved-word-entry {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.5em;
  margin:  1em;
  border-radius: 1em;
  color: black;
  background-color: rgba(0, 0, 0, 0.061);
  font-size: 5vw;
  min-width: 25dvw;
  border:solid rgb(195, 188, 188);
}

.saved-word-text{
  margin-bottom: 1em;
  font-weight: 800;
}

.removeEntryButton {
  border: none;
  border-radius: 0.5em;
  background-color: white;
  color: black;
  width: fit-content;
  align-self: flex-end;
}
 
.main-title {
  grid-row: 1;
  grid-column: 1/4;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: black;
  height: 5vh;
}

.page-title {
  font-size: 5vw;
  color: white;
}

.form-submit-button:active{
  animation: click 0.1s;
}

.save-word-button:active {
  animation: click 0.1s;
}

@keyframes click {
  0%{
    transform: translateY(5%);
  }
}