
body{
    background-color: wheat;
}

.loader{
    display: none;
}

h1{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}

.rhyme-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}